{% extends 'core/base.html' %}

{% load static %}
{% block content %}
	<div id="wrap">
		<div id="main-content" class="main-content">
			<div class="page-header">
				<figure class="post-thumbnail">
					<img alt="" src="{% static 'core/images/galleries/galleries.jpg' %}">
				</figure>
				<h1 class="title">
					<span class="line-title">Restaurant<i class="fa">&#xf111;</i></span>
				</h1>
			</div>
			<div class="page-content">
				<div id="galleries" class="galleries galleries-v2">
					<div class="container">
						<div id="filter" class="filter">
							<button class="button active" data-filter="*">Todos</button>
							{% for cat in restaurantcategories %}
							<button class="button" data-filter=".{{cat.name}}">{{cat.name}}</button>
							{% endfor %}
						</div>
						<div class="row">
							{% for restaurant in restaurants %}
							<div class="col-sm-6 col-md-4 col-lg-3 col-xs-6 gallery-item coffee milk tea">
								<div class="inner">
									<figure>
										{% if restaurant.logo%}
											<img alt="" src="{{restaurant.logo.url}}">
										{% endif %}
										<figcaption>
											<a class="gallery-ajax" href="#"></a>
											<div class="gallery-icon">
												<a href="{% url 'menu' restaurant.id restaurant.name|slugify %}" class="hvr-rectangle-out">
													<i class="fa">&#xf002;</i> asdasd</a>

											</div>
										</figcaption>
									</figure>
									<h4 class="title">
										<a class="" href="{% url 'menu' restaurant.id restaurant.name|slugify %}">{{restaurant.name}}</a>
									</h4>
								</div>
							</div>
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
{% endblock %}
